<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Lesson03" verbose="10" >
    <test name="Lesson03" >
        <classes>
            <class name="tests.lesson03.SomeTest">
                    <methods>
                        <include name="radiobuttonTest"/>
                        <include name="clickLinkTest"/>
                    </methods>
            </class>
        </classes>
    </test>

    <test name="FirstTest">
        <classes>
            <class name="tests.lesson03.SomeTest">
                <methods>
                    <include name="radiobuttonTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="UsePackage">
        <packages>
            <package name="tests.lesson03"/>
        </packages>
    </test>

    <test name="UseGroups">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
    </test>
</suite>
